@font-face {
  font-family: 'FoundationOne';
  src: url('../assets/fonts/FoundationOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
